{% extends "base.html" %}
{% load staticfiles core_tags %}

{% block title %} CKS Tour Management: {{month|month_name}} {{year}} {% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "css/calendar.css" %}" />
{% endblock %}

{% block content %}
<h1>
    <a class="circle-container circle-left" href="{% url 'tours:month' prev_month.year prev_month.month %}">
        <div class="circle"><i class="glyphicon glyphicon-chevron-left"></i></div>
    </a>
    {{month|month_name}} {{year}}
    <a class="circle-container circle-right" href="{% url 'tours:month' next_month.year next_month.month %}">
        <div class="circle"><i class="glyphicon glyphicon-chevron-right"></i></div>
    </a>
</h1>

{% if is_open %}
    <div class="alert alert-success">This month is open for claiming tours. It closes {{ date_closes|date:"m/d/y \a\t g:i a" }}<br />
    The public URL for this month is <a href="{{ public_url }}">{{ public_url }}</a>.
    </div>
{% endif %}


        <table class="month">

            <thead>
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>

            <tbody>
                {% for week in weeks %}
                    <tr class="week">
                    {% for date, day, tours, canceled in week %}
                        <td class="day{% if date == now.day and month == now.month and year == now.year %} current{% endif %}{% if canceled %} canceled{% endif %}" data-date="{{ date }}">
                            {% if date > 0 %} <div class="date_num_container"><span class="date_num">{{ date }}</span></div>
                            <div class="other">
                                
                                {% if tours %}
                                <ul class="tours">
                                
                                    {% for tour in tours %}
                                        <li class="tour{% if tour.missed %} missed{% else %}{% if tour.late %} late{% endif %}{% endif %}{% if not tour.guide %} unclaimed{% endif %}">
                                            {% if perms.tours.change_tour %}<a href="{% url 'tours:tour-edit' pk=tour.pk %}">{% endif %}
                                                <table class="ind_tour"><tr><td>{{ tour.time|date:"g:i" }}</td><td>{% if tour.guide %}{{ tour.guide.first_name|slice:"0:1" }}. {{ tour.guide.last_name }}{% else %}Unclaimed{% endif %}</td></tr></table>
                                            {% if perms.tours.change_tour %}</a>{% endif %}
                                        </li>
                                    {% endfor %}

                                </ul>
                                {% endif %}
                                    
                            </div>
                            {% endif %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
<div class="row">
    <div class="col-sm-{% if perms.tours.change_tour or perms.tours.add_initializedmonth %}4{% else %}6{% endif %} key">
        <div class="panel panel-default equal-height">
            <div class="panel-heading">
                <h3 class="panel-title">Key</h3>
            </div>

            <div class="panel-body">
                <table>
                    <tr><td><div class="key-canceled"></div></td><td>No Regular Tours</td></tr>
                    <tr><td><span class="key-unclaimed">abcdefg</span></td><td>Unclaimed Tour</td></tr>
                    <tr><td><span class="key-missed">abcdefg</span></td><td>Missed Tour</td></tr>
                    <tr><td><span class="key-late">abcdefg</span></td><td>Late Tour</td></tr>
                </table>
            </div>
        </div>
    </div>
    {% if perms.tours.change_tour or perms.tours.add_initializedmonth %}
    <div class="col-sm-4">
        <div class="panel panel-default equal-height">
            <div class="panel-heading">
                <h3 class="panel-title">Actions</h3>
            </div>

            <div class="panel-body">
            {% if month_initialized %}
                <a href="{% url 'tours:month-print' year=year month=month %}" class="btn btn-block btn-danger">Print Info Office Tours</a>
            {% endif %}

            {% if perms.tours.add_initializedmonth %}
                {% if not month_initialized %}
                    <a href="{% url 'tours:initialize-month' year month %}" class="btn btn-block btn-danger">Initialize Month</a>
                {% else %}
                    <a href="{% url 'tours:uninitialize-month' year month %}" class="btn btn-block btn-danger">Uninitialize Month</a>
                {% endif %}
            {% endif %}

            {% if open_eligible and perms.tours.add_openmonth and perms.tours.change_openmonth %}
                {% if is_open %}
                    <a href="{% url 'tours:open-month-edit' year month %}" class="btn btn-block btn-danger">Edit Closing Time</a>
                {% else %}
                    <a href="{% url 'tours:open-month' year month %}" class="btn btn-block btn-danger">Open Month</a>
                {% endif %}
            {% endif %}

            {% if is_open and perms.tours.delete_openmonth %}
                <a href="{% url 'tours:close-month' year month %}" class="btn btn-block btn-warning post-btn" data-action="close this month">Close Month Immediately</a>
            {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="col-sm-{% if perms.tours.change_tour or perms.tours.add_initializedmonth %}4{% else %}6{% endif %}">
        <div class="panel panel-default equal-height">
            <div class="panel-heading">
                <h3 class="panel-title cal"><a href="{% url 'tours:month' prev_year month %}" class="cal_btn_left"><span class="glyphicon glyphicon-chevron-left"></span></a> {{ year }}<a href="{% url 'tours:month' next_year month %}" class="cal_btn_right"><span class="glyphicon glyphicon-chevron-right"></span></a></h3>
            </div>

            <div class="panel-body">
                <div class="select-month-container">
                    <div class="select-month-row">
                    {% for num, name in months_list %}
                        <a {% if num == month %} class="active "{% endif %}href="{% url 'tours:month' year num %}" class="month-btn">{{ name|slice:":3" }}</a>
                        {% if num|divisibleby:"4" %}
                            </div>{% if num != 12 %}<div class="select-month-row">{% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}