{% extends "base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block title %} CKS Tour Management: 
{% if object %}
    Edit Member
{% else %}
    New Member
{% endif %}
{% endblock %}

{% block content %}
{% if object %}
    <h1>{{ object.first_name }} {{ object.last_name }}</h1>
{% else %}
    <h1>New Member</h1>
{% endif %}

{% if object and perms.profiles.delete_person %}
<div class="col-md-7">
{% endif %}
    {% crispy form %}
{% if object %}
</div>
{% endif %}

{% if object %}
<div class="col-md-4 col-md-offset-1 right-section">

{% if perms.profiles.delete_person %}
{% if not object.site_admin or request.user.person.site_admin %}
{% if not object.site_admin or site_admins_count > 1 %}
<div class="panel panel-warning">
    <div class="panel-heading">Warning: these actions are irreversible</div>
    <div class="panel-body">
        <a class="btn btn-warning btn-block post-btn" data-action="delete this member" href="{% url 'profiles:person-delete' object.pk %}">Delete this member</a>
    </div>
</div>
{% endif %}
{% endif %}
{% endif %}

{% if perms.profiles.add_inactivesemester %}
<div class="panel panel-info">
    <div class="panel-heading">Inactive Semesters</div>
    <div class="panel-body">
        <form action="{% url 'profiles:inactive-semester-new' pk=object.pk %}" method="post">
        {% csrf_token %}
        <table class="table" id="inactive-semesters-table">
            <thead>
                <tr>
                    <th>Semester</th>
                    <th>Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for elem in object.inactive_semesters.all %}
                <tr>
                    <td>{{ elem.semester|title }}</td>
                    <td>{{ elem.year }}</td>
                    <td><a href="{% url 'profiles:inactive-semester-delete' elem.pk %}" class="btn btn-warning post-btn" data-action="delete this inactive semester?"><span class="glyphicon glyphicon-remove"></span></a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="button_container">
        <button class="btn btn-info" type="submit">Submit</button>
        <a id="add_inactive_semester_btn" class="btn btn-info" data-year="{{ year }}"><span class="glyphicon glyphicon-plus"></span> Add</a>
        </div>
        </form>
    </div>
</div>
{% endif %}


{% if perms.profiles.add_overriderequirement and person.is_active %}
    <div class="panel panel-info">
        <div class="panel-heading">Special Requirements for {{ semester|title }} {{ year }}</div>
        <div class="panel-body">
            <div class="col-md-12">
            {% crispy special_requirements_form %}
            </div>
        </div>
    </div>
{% endif %}

</div>
{% endif %}


<script>
$(function() {
    $('#add_inactive_semester_btn').click(function(){
        var year = $('#add_inactive_semester_btn').data('year');
        var num = $('#inactive-semesters-table tbody tr.editable').length;
        $('#inactive-semesters-table tbody').append('<tr class="editable"><td><select class="form-control" name="semester_' + num + '_semester"><option>--Select--<option value="fall">Fall</option><option value="spring">Spring</option></select></td><td><input class="form-control" name="semester_' + num + '_year" type="text" value="' + year + '" /></td></tr>');
    });
});
</script>

{% endblock %}