{% extends "base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block title %} CKS Tour Management: 
{% if object %}
    Edit Member
{% else %}
    New Member
{% endif %}
{% endblock %}

{% block content %}
{% if object %}
    <h1>{{ object.first_name }} {{ object.last_name }}</h1>
{% else %}
    <h1>New Member</h1>
{% endif %}

{% if object and perms.tours.delete_person %}
<div class="col-md-8">
{% endif %}
    {% crispy form %}
{% if object %}
</div>
{% endif %}

{% if object and perms.tours.delete_person %}
<div class="col-md-4">
<div class="panel panel-warning">
    <div class="panel-heading">Warning: these actions are irreversible</div>
    <div class="panel-body">
        <a class="btn btn-warning btn-block post-btn" data-action="delete this member" href="{% url 'profiles:person-delete' object.pk %}">Delete this member</a>
    </div>
</div>
</div>
{% endif %}


<script>
$(function() {
    $('#add_inactive_semester_btn').click(function(){
        var year = $('#add_inactive_semester_btn').data('year');
        var num = $('#inactive-semesters-table tbody tr.editable').length;
        $('#inactive-semesters-table tbody').append('<tr class="editable"><td><select class="form-control" name="num_' + num + '_semester"><option>--Select--<option value="fall">Fall</option><option value="spring">Spring</option></select></td><td><input class="form-control" name="num_' + num + '_year" type="text" value="' + year + '" /></td></tr>');
    });
});
</script>

{% endblock %}